tensorflow==2.8.0
keras-applications==1.0.8
numpy==1.22.3
pillow==9.1.0
albumentations==1.1.0
pandas==1.4.2
scikit-learn==1.0.2
scikit-image==0.19.2
lime==0.2.0.1
pooch==1.6.0
classification-models-3D==1.0.4
vit-keras==0.1.0
SimpleITK==2.1.1.2
batchgenerators==0.24
volumentations-aucmedi==1.0.1
plotnine==0.8.0
